/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* header */
#menu {width:100%;overflow:hidden;height:34px;border-bottom:4px solid #323232}
#menu li {float:left}
#menu li a {display:block;font-size:25px;color:#fff;font-weight:600;padding:0 53px;text-decoration:none ;text-transform:uppercase;line-height:35px}
#menu li a:hover, #menu #menu_active a {background:#323232}

.nav1 {background:#3081c8}
.nav2 {background:#8cbd20}
.nav3 {background:#f09e2f}
.nav4 {background:#b530ba}
.nav5 {background:#30b6c9}

/* footer */
footer {padding-top:31px;text-align:center;line-height:18px;color:#fff}
footer a {color:#439deb}
/* forms */
