<!DOCTYPE html>
<html lang="es">
<head>
    <title>Awesong</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="all">
</head>
<body id="page">
<div>
    <nav>
      <ul id="menu">
        <li><a href="" class="nav1">Inicio</a></li>
        <li><a href="" class="nav2">Audios</a></li>
        <li><a href="" class="nav3">Videos</a></li>
        <li><a href="" class="nav4">Pronosticos</a></li>
      </ul>
    </nav>
</div>

<footer>
    <a href="http://www.scesi.memi.umss.edu.bo" target="_blank">Scesi-UMSS</a>
</footer>

</body>
</html>

