<!DOCTYPE html>
<html lang="es">
<head>
<title>Awesong</title>
<meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
<link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="{{STATIC_URL}}css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="{{STATIC_URL}}css/reproductor.css" type="text/css" media="all">
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.0.js" ></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cufon-yui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cufon-replace.js"></script>  
<script type="text/javascript" src="{{STATIC_URL}}js/Myriad_Pro_600.font.js"></script>
<script src="{{STATIC_URL}}js/reproductor.js"></script>
</head>
<body id="page1">
  <!--<div>
      <nav>
        <ul id="menu">
          <li><a href="http://awesong.com" class="nav1">Inicio</a></li> 
          <li><a href="" class="nav2">Audios</a></li>
          <li><a href="" class="nav3">Videos</a></li>
          <li><a href="" class="nav4">Galeria</a></li>
          <li class="end"><a href="Contacts.html" class="nav5">Estadisticas</a></li>
        </ul>
      </nav>
  </div>-->
<!-----------------------------------b--------->
    <div id="divContenedor">
      <div id="divReproductor">
        <div id="divInfo">
          <div id="divLogo">
            <img src="{{STATIC_URL}}img/logo.png" align="left">
          </div>
          <div id="divInfoCancion">
            <label id="lblCancion"><strong>Nombre: </strong><span>-</span></label>
            <label id="lblArtista"><strong>Artista: </strong><span>-</span></label>
            <label id="lblDuracion"><strong>Duraci&oacute;n: </strong><span>-</span></label>
            <label id="lblEstado"><strong>Transcurrido: </strong><span>-</span></label>
          </div>
          <div style="clear: both"></div>
        </div>
        <div id="divControles">
          <input type="button" id="btnReproducir" title="Reproducir">
          <input type="button" id="btnPausar" title="Pausar/Continuar">
          <input type="button" id="btnAnterior" title="Anterior">
          <input type="button" id="btnSiguiente" title="Siguiente">
          <input type="button" id="btnSubirVolumen" title="Subir volumen">
          <input type="button" id="btnBajarVolumen" title="Bajar volumen">
          <input type="button" id="btnSilencio" title="Poner/Quitar silencio">
          <input type="button" id="btnRepetir" title="Repetir la lista al finalizar">
        </div>
        <div id="divProgreso">
          <div id="divBarra"></div>
        </div>
        <div id="divLista">
          <ol id="olCanciones">
            {% for music in results %}
            <li rel="{{MEDIA_URL}}{{music}}">
              <strong>{{music}}</strong>
              <!--<em>Moldo</em>-->
            </li>
            {% endfor %}
          </ol>
        </div>
        <div id="divCreditos">
          <h1>scesi</h1>
          <p>awesong</p>
        </div>
      </div>
    </div>
<!-----------------------t--------------------->

<!-- footer -->
    <footer>
      <a href="http://www.scesi.memi.umss.edu.bo" target="_blank">Scesi-UMSS</a>
    </footer>
<!-- / footer -->
</body>
</html>
        
